@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center" xmlns="">
    <h1 class="display-3">About Minehop</h1>
    <br><br>
</div>
<div class="text-center" style="font-size: 20px" xmlns="">
    <p>Minehop is a 1.12.2 minecraft server dedicated for bringing bhoping to minecraft.</p>
    <p>Minehop utilizes a modification of the <a target="_blank" href="https://github.com/squeek502/Squake">Squake Mod</a> to allow bhoping!</p>
    <p>All plugins for timers, warping, and shops are coded by our amazing developer team.</p>
    <p>for information on how to install the MineHopMod please go <a target="_blank" href="Tutorial">here</a>.<p>
</div>
<div class="text-center" xmlns="">
    <br><br>
    <h2 class="display-4">Staff Team</h2>
    <br>
    <h3 class="display-6">Moriz - Lead Developer</h3>
    <br>
    <h3 class="display-6">Plaaasma - Owner / Developer</h3>
    <br>
    <h3 class="display-6">Lolrow - Owner / Discord Developer</h3>
    <br>
    <h3 class="display-6">Dr.Fluer - Owner (pays the bills)</h3>
    <br>
    <h3 class="display-6">HoodieGuy - Head-Builder</h3>
</div>
<div style="position: relative;padding-bottom: 56.25%;height: 0;"><center>
    
</center></div>