@page
@model MineHopWebsite.Pages.NotLoggedIn

@{
    ViewData["Title"] = "NotLoggedIn";
}

<!DOCTYPE html>

<div class="text-center">
    <h1 class="display-4">You need to be logged for that!</h1>
    <br><br>
    <h3><b>You silly goose</b></h3><br>
    <h3><p>You gotta <a asp-page="Login">Login</a> or <a asp-page="Register">Register</a></p></h3>
</div>